
div div span span.x14ctfv {
    color: rgba(125, 0, 0, 0.0) /* Message sent from my side */
}

div.xzsf02u {
    color: rgba(125, 0, 0, 0.0) 
}

div h1 span.xzsf02u {
    color: rgba(250, 100, 170, 0.9) /* Chat */
}

div div span span.xzsf02u {
    color: rgba(125, 0, 0, 0.0) /* Message sent from other side */
}

div div div div.xi81zsa{
    color: rgba(150, 100, 150, 0.2) /* Like, Comment */
}
